<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogMage</title>
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
</head>
<body>
<div class="container">
    <h2>User Registration</h2>
    <form>
        <input type="text" placeholder="Username" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="#" class="register-link">Login</a></p>
</div>
</body>
</html>
